@model Usuario
@{
    Layout = null;
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,200&display=swap" rel="stylesheet">
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #004F63;
        font-family: 'Nunito Sans', sans-serif;
    }

    .login-container {
        width: 300px;
        padding: 40px;
        background-color: #07f9a2;
        border-radius: 15px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-input {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 3px solid #004F63;
    }

    .login-button {
        width: 100%;
        padding: 10px;
        border-radius: 2px;
        border: none;
        background-color: #004F63;
        color: #fff;
        cursor: pointer;
    }

    input:focus {
        outline: none;
    }
</style>
<div class="login-container">
    <form class="login-form" method="post" asp-action="Login">
        <h1 style="color: #004F63">Enviar Codigo de Recuperacion</h1>
        <input type="text" style="color: #004F63" placeholder="E-Mail" class="login-input" name="email" />
        <button type="submit" class="login-button">Enviar Codigo</button>
    </form>

</div>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "http://localhost:5038/home";
    };
</script>